<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p th:if="${exito != null}" th:text="${exito}" style="color: green"></p>
            <p th:if="${error != null}" th:text="${error}" style="color: red"></p>
        </div>
    </body>
</html>
