<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Sysmas</title>
    <meta charset="UTF-8">
    <link href='Css/dashboardEstilo.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-message-square-add'></i>
      <span class="logo_name">SysMas</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/index" >
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/producto" >
            <i class='bx bx-box' ></i>
            <span class="links_name">Productos</span>
          </a>
        </li>
        <li>
          <a href="/venta">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Ventas</span>
          </a>
        </li>
        <li>
          <a href="/caja">
              <i class='bx bx-wallet-alt'></i>
              <span class="links_name">Caja</span>
          </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
          <a href="/estadisticas">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Estadísticas</span>
          </a>
        </li>
        <li>
          <a href="/stock">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Stock</span>
          </a>
        </li>
        <li>
          <a href="/pedidos">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Pedidos</span>
          </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
          <a href="/usuario">
            <i class='bx bx-user' ></i>
            <span class="links_name">Usuarios  </span>
          </a>
        </li>
        <li>
          <a href="/proveedor">
            <i class='bx bx-message' ></i>
            <span class="links_name">Proveedores</span>
          </a>
        </li>
        <li>
          <a href="/cliente" class="active">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Clientes</span>
          </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
          <a href="/ajustes">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Ajustes</span>
          </a>
        </li>
        <li class="log_out">
          <a href="/logout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Salir</span>
          </a>
        </li>
      </ul>
  </div>

  <section class="home-section">
    
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Clientes</span>
      </div>
     <div class="profile-details">
       <img class="bd-placeholder-img card-img-top" th:src="${'/foto/usuario?id=' + session.usuariosession.id}"  style="width: auto; height: 60px;">
        <a href="/editarUsario">  <span class="admin_name" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre + ' ' +session.usuariosession.apellido}"></span>
        </a>
     </div>


    </nav>

    <div class="home-content">
        <div class="overview-boxes">
           <div class="box">
               <div class="right-side">
                   <div class="btn-group">
                       <form action="/verClientesPorNombre" method="POST">
                       <div class="input-group mb-3">
                           <input type="text" class="form-control" placeholder="Nombre" name="b" >
                         <div class="input-group-append">
                             <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
                         </div>
                       </div>
                       </form>    
                   </div>
               </div>

           </div>
           <div class="box">
               <div class="btn-group">
                       <form action="/verClientesPorNumero" method="POST" name="b">
                       <div class="input-group mb-3">
                           <input type="text" class="form-control" placeholder="Número de Cliente" name="b" >
                         <div class="input-group-append">
                             <button class="btn btn-info" type="submit" id="button-addon2">Buscar</button>
                         </div>
                       </div>
                       </form>    
                   </div>
           </div>
           <div class="box" >
               <div class="right-side">
                   <div class="btn-group">
                       <form action="/verClientePorCat" method="POST">
                       <div class="input-group mb-3">
                           <div class="input-box">
                    <select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" name="b">

                      <option th:each="categoria:${categoria}" th:text="${categoria}"th:value="${categoria}"></option>
                        
                    </select>
                </div>
                         <div class="input-group-append">
                             <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
                         </div>
                       </div>
                       </form>    
                   </div>
                       
               </div>
           </div>
           <div class="box">
               <div class="right-side">
                   <a href="/verClientes" ><button type="button"  class="btn btn-warning">Limpiar búsqueda </button></a>
               </div>
           </div>
       </div>
    
  <table class="table table-striped" id="tabla" >
    <thead > 
      <tr>
        <th scope="col">Núm de Cliente</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Telefono</th>
        <th scope="col">Mail</th>
        <th scope="col">Activo</th>
        <th scope="col">Documento</th>
        <th scope="col">Tipo de Cliente</th>
        <th scope="col">Opciones</th>
        
      </tr>
    </thead>
      <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.numClient}"></td> 
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.direccion}"></td>
        <td th:text="${cliente.telefono}"></td>
        <td th:text="${cliente.mail}"></td>
        <td th:text="${cliente.activo}"></td>
        <td th:text="${cliente.documento}"></td>
        <td th:text="${cliente.tipo}"></td>
        <td>
             <a th:href="${'/registroCliente?id='+cliente.id}"> Editar</i></a> -   
             <a th:href="${'/eliminarCliente?id='+cliente.id}" style="color:red"> Eliminar</i></a> - 
             <a th:href="${'/nuevaVenta?id='+cliente.id}">Venta normal</i></a> - 
             <a th:href="${'/VentaMay2?id='+cliente.id}"> Mayorista 2</i></a>
        </td>
        
      </tr>
        
    
  </table>
  </div>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>

