<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link href='Css/ventas.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
     integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>


 <div id="printable">
    <div class="home-content">
      <div class="overview-boxes" style="width: 100%;">
        <div class="box">
          <div class="card" style="border: 0px;">
            <div class="card-body">
                <h2>Factura</h2>
                <br/>
              <h5 class="card-title">Datos del cliente</h5>
              <h6 class="card-subtitle mb-2 ">Nombre:         <span th:text="${cliente.nombre}"></span></h6>
              <h6 class="card-subtitle mb-2 ">Num de Cliente: <span th:text="${cliente.numClient}"></span></h6>
              <h6 class="card-subtitle mb-2 ">Dirección:       <span th:text="${cliente.direccion}"></span></h6>
              <h6 class="card-subtitle mb-2 ">Categoría:      <span th:text="${cliente.tipo}"></span></h6>
              <h6 class="card-subtitle mb-2 ">Mail:           <span th:text="${cliente.mail}"></span></h6>
              <h6 class="card-subtitle mb-2 ">Tel:            <span th:text="${cliente.telefono}"></span></h6>

              
            </div>
              
          </div>
        </div>
        <div class="box">
            
          <div class="card" style="border: 0px;">
           <div class="card-body">
            <h5 class="card-title">Datos de la Empresa</h5>
            <h6 class="card-subtitle mb-2 ">Nombre:         <span th:text="${empresa.nombre}"></span></h6>
            <h6 class="card-subtitle mb-2 ">Razon social/Cuil: <span th:text="${empresa.razonSocial}"></span></h6>
            <h6 class="card-subtitle mb-2 ">Dirección:       <span th:text="${empresa.direccion}"></span></h6>
            <h6 class="card-subtitle mb-2 ">Mail:           <span th:text="${empresa.mail}"></span></h6>
            <h6 class="card-subtitle mb-2 ">Tel:            <span th:text="${empresa.telefono}"></span></h6>

            <br>
            <h6 class="card-subtitle mb-2 ">Vendedor:           <span th:text="${venta.vendedor.nombre}"></span></h6>
            <h6 class="card-subtitle mb-2 ">Fecha:            <span th:text="${venta.fecha}"></span></h6>
            <h6 class="card-subtitle mb-2 ">Numero de Venta:            <span th:text="${venta.id}"></span></h6>
            </div>
          </div>
        </div>
      </div>
  
       <div class="sales-boxes">
        

    </div>
       <br>
      <div class="sales-boxes">
        <div class="recent-sales box">
          <table class="table table-sm">
            <thead>
              <tr>
            
                <th scope="col">#</th>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="prod : ${productos}">
                
                <td th:text="${prod.codigo}"></td>
                <td th:text="${prod.nombre}"></td>
                <td>
                  <p th:text="${prod.tipo}"></p>
                  <p th:text="${prod.color}"></p>
                </td>
                <td th:text="${prod.precio}"></td>
                <td th:text="${prod.cant}">
                </td>
                <td th:text="${prod.subtotal}" ></td> 
              </tr>

            </tbody>
          </table>
          <div style="text-align: right;">
              <h3>Total: $<span th:text="${venta.total}"></span></h3>
          </div>
        </div>

      </div>
    </div>

</div>
    <button onclick="imprimirPagina();">Imprimir</button>
    <a href="/index" ><button >Volver</button></a>
  </section>

   

   <script>
    function imprimirPagina(){
        window.print();
    }
   </script>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
</body>

</html>