<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SysMas</title>
    <link rel="stylesheet" href="Css/Login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="title">Ingresar</div>
        <form action="/logincheck" method="POST">
            <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
            <p th:if="${logout != null}" th:text="${logout}" style="color:greenyellow"></p>
            <div class="field">
                <input type="text" required name="userid">
                <label>Usuario</label>
            </div>
            <div class="field">
                <input type="password" required name="password">
                <label>Contraseña</label>
            </div>
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Recordarme</label>
                </div>
                <div class="pass-link"><a href="#">Olvidé mi contraseña</a></div>
                
            </div>
            <div class="field">
                <input type="submit" value="Ingresar">
            </div>
        </form>
    </div>
</body>

</html>