<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SysMas</title>
    <link rel="stylesheet" href="Css/Login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="title">Registrar usuario</div>
            <p th:if="${exito != null}" th:text="${exito}" style="color: green"></p>
            <p th:if="${error != null}" th:text="${error}" style="color: red"></p>
        <form action="/registrarlo" method="post">
          <div class="field">
                <input type="text" required name="mail">
                <label>Mail</label>
            </div>
            <div class="field">
                <input type="text" required name="nombre">
                <label>Nombre</label>
            </div>
            <div class="field">
                <input type="text" required name="apellido">
                <label>Apellido</label>
            </div>
            <div class="field">
                <input type="password" required name="clave">
                <label>Contraseña</label>
            </div>
            <div class="field">
                <input type="password" required name="clave2">
                <label>Confirmar Contraseña</label>
            </div>
        
          <div class="field">
                <input type="submit" value="Registrar">
            </div>
            <div class="field" >
                <a href="/index">Inicio</a>
        </form>
    </div>
</body>

</html>