<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8">
        <link href='Css/dashboardEstilo2.css' rel='stylesheet'>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>

    <body>
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bxs-message-square-add'></i>
                <span class="logo_name">SysMas</span>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/index" >
                        <i class='bx bx-grid-alt' ></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/producto" class="active">
                        <i class='bx bx-box' ></i>
                        <span class="links_name">Productos</span>
                    </a>
                </li>
                <li>
                    <a href="/venta">
                        <i class='bx bx-list-ul' ></i>
                        <span class="links_name">Ventas</span>
                    </a>
                </li>
                <li>
                    <a href="/caja">
                        <i class='bx bx-wallet-alt'></i>
                        <span class="links_name">Caja</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/estadisticas">
                        <i class='bx bx-pie-chart-alt-2' ></i>
                        <span class="links_name">Estadísticas</span>
                    </a>
                </li>
                <li>
                    <a href="/stock">
                        <i class='bx bx-coin-stack' ></i>
                        <span class="links_name">Stock</span>
                    </a>
                </li>
                <li>
                    <a href="/pedidos">
                        <i class='bx bx-book-alt' ></i>
                        <span class="links_name">Pedidos</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/usuario">
                        <i class='bx bx-user' ></i>
                        <span class="links_name">Usuarios  </span>
                    </a>
                </li>
                <li>
                    <a href="/proveedor">
                        <i class='bx bx-message' ></i>
                        <span class="links_name">Proveedores</span>
                    </a>
                </li>
                <li>
                    <a href="/cliente">
                        <i class='bx bx-heart' ></i>
                        <span class="links_name">Clientes</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/ajustes">
                        <i class='bx bx-cog' ></i>
                        <span class="links_name">Ajustes</span>
                    </a>
                </li>
                <li class="log_out">
                    <a href="/logout">
                        <i class='bx bx-log-out'></i>
                        <span class="links_name">Salir</span>
                    </a>
                </li>
            </ul>
        </div>
        <section class="home-section">
            <nav>
                <div class="sidebar-button">
                    <i class='bx bx-menu sidebarBtn'></i>
                    <span class="dashboard">Producto</span>
                </div>

                <div class="profile-details">
                    <img class="bd-placeholder-img card-img-top" th:if="${session.usuariosession != null}" th:src="${'/foto/usuario?id=' + session.usuariosession.id}"  style="width: auto; height: 60px;">
                    <a href="/editarUsario">  <span class="admin_name" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre + ' ' +session.usuariosession.apellido}"></span>
                    </a>
                </div>

            </nav>

            <div class="home-content">
                <div class="sales-boxes">
                    <div class="recent-sales box">
                        <div class="container">
                            <div class="title"><span th:text="${accion} + ' Producto'"> </div>
                            <div class="content">
                                <form action="/registrarProducto" method="POST" enctype="multipart/form-data">
                                    <p th:if="${exito != null}" th:text="${exito}" style="color: green"></p>
                                    <p th:if="${error != null}" th:text="${error}" style="color: red"></p>

                                    <!--<imput th:if="${accion == 'Actualizar'}" type="hidden" name="codigo" th:value="${producto.codigo}"/>-->
                                    <div class="user-details">
                                        <div class="input-box">
                                            <span class="details">Nombre del producto</span>
                                            <input  type="text" placeholder=""  name="nombre" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Tipo</span>
                                            <input  type="text" placeholder=""  name="tipo" required>
                                        </div>
                                        <div  class="input-box">
                                            <span class="details">Código de Barras</span>
                                            <input   type="text" placeholder=""  name="barras" required pattern="[A-Za-z0-9]+" title="Ingresar solo letras y números">
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Código Interno</span>
                                            <input  type="text" placeholder=""  name="codInterno" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Precio De Lista</span>
                                            <input type="text" placeholder=""  name="costo">
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Precio al Público</span>
                                            <input  type="text" placeholder=""  name="precioU">
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Precio Mayorista 1</span>
                                            <input  type="text" placeholder=""  name="precioM1">
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Precio Mayorista 2</span>
                                            <input  type="text" placeholder=""  name="precioM2">
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Precio Dolar</span>
                                            <input  type="text" placeholder=""  name="precioD">
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Cantidad Ideal</span>
                                            <input  type="text" placeholder=""  name="cantI">
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Cantidad Mínima</span>
                                            <input  type="text" placeholder=""  name="cantM">
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Cantidad en Depósito</span>
                                            <input  type="text" placeholder=""  name="cantDepo">

                                        </div>
                                        <div class="input-box">
                                            <span class="details">Cantidad en Local</span>
                                            <input  type="text" placeholder=""  name="cantLocal">
                                        </div>

                                        <div class="input-box">
                                            <span class="details">Color</span>
                                            <input  type="text" placeholder=""  name="color" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Descripción</span>
                                            <textarea type="text" cols="53" placeholder=""  name="descripcion" required ></textarea>
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Foto</span>
                                            <input  type="file" placeholder=""  name="foto">
                                        </div>
                                        <div class="input-box">
                                            <select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" name="cat">

                                                <option th:each="categoria:${categoria}" th:text="${categoria}"th:value="${categoria}"></option>

                                            </select>
                                        </div>
                                        <div class="input-box">
                                            <select type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false" name="proveedor">

                                                <option th:each="proveedor:${proveedor}" th:text="${proveedor.nombre}" th:value="${proveedor.id}"></option>

                                            </select>
                                        </div>

                                        <!--<div >
                                            <button  type="button" class="btn btn-danger" name="proveedor" >
                                                <a href="/registroProveedor">
                                                    <span class="links_name" style="color: white">Crear nuevo</span>
                                                </a>
                                            </button>
                                        </div>-->
                                    </div>
                                    <div class="button">

                                        <input type="submit" value="Cargar">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="top-sales box">
                        <div class="title">Calculador de costos> </div>
                        <form action="/calcular" method="POST">
                            <div class="user-details">
                                <div class="input-box">
                                    <span class="details">Costo</span>
                                    <input type="text" placeholder="" name="calculo" required>
                                </div>
                                <h6>Precio Público: $<span th:text="${calp}"></span></h6>
                                <h6>Precio Mayorista 1: $<span th:text="${calm2}"></span></h6>
                                <h6>Precio Mayorista 2: $<span th:text="${calm1}"></span></h6>
                                <button type="submit" class="btn btn-info" >Calcular</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <script>
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".sidebarBtn");
            sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    </body>

</html>