<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
        <title>Sysmas</title>
        <meta charset="UTF-8">
        <link href='Css/EstilosRegUs.css' rel='stylesheet'>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-message-square-add'></i>
      <span class="logo_name">SysMas</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/index">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/producto">
            <i class='bx bx-box' ></i>
            <span class="links_name">Productos</span>
          </a>
        </li>
        <li>
          <a href="/venta">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Ventas</span>
          </a>
        </li>
        <li>
            <a href="/caja">
                <i class='bx bx-wallet-alt'></i>
                <span class="links_name">Caja</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
          <a href="/estadisticas">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Estadísticas</span>
          </a>
        </li>
        <li>
          <a href="/stock">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Stock</span>
          </a>
        </li>
        <li>
          <a href="/pedidos">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Pedidos</span>
          </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
          <a href="/usuario">
            <i class='bx bx-user' ></i>
            <span class="links_name">Usuarios  </span>
          </a>
        </li>
        <li>
          <a href="/proveedor">
            <i class='bx bx-message' ></i>
            <span class="links_name">Proveedores</span>
          </a>
        </li>
        <li>
          <a href="/cliente" class="active">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Clientes</span>
          </a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
          <a href="/ajustes">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Ajustes</span>
          </a>
        </li>
        <li class="log_out">
          <a href="/logout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Salir</span>
          </a>
        </li>
      </ul>
  </div>

  <section class="home-section">
    <nav>
        <div class="sidebar-button">
          <i class='bx bx-menu sidebarBtn'></i>
          <span class="dashboard">Clientes</span>
        </div>
        <div class="profile-details">
           <img class="bd-placeholder-img card-img-top" th:src="${'/foto/usuario?id=' + session.usuariosession.id}"  style="width: auto; height: 60px;">
            <a href="/editarUsario">  <span class="admin_name" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre + ' ' +session.usuariosession.apellido}"></span>
            </a>
        </div>

      </nav>
      <!--Esto es el Interior del Home-->
    <div class="home-content">
    <div class="container">
                    <div class="title"><span th:text="${accion} + ' Cliente'"> </div>
                    <div class="content">
                        <form action="/registrarCliente" method="POST" >
                            <p th:if="${exito != null}" th:text="${exito}" style="color: green"></p>
                            <p th:if="${error != null}" th:text="${error}" style="color: red"></p>
                            
                            <!--<imput th:if="${accion == 'Actualizar'}" type="hidden" name="codigo" th:value="${producto.codigo}"/>-->
                            <div class="user-details">
                                <div class="input-box">
                                    <span class="details">Nombre completo</span>
                                    <input  type="text" placeholder=""  name="nombre">
                                </div>
                                <div class="input-box">
                                    <span class="details">Nún de Cliente</span>
                                    <input  type="text" placeholder=""  name="numClient">
                                </div>
                                <div class="input-box">
                                    <span class="details">Dirección</span>
                                    <input  type="text" placeholder=""  name="direccion">
                                </div>
                                <div class="input-box">
                                    <span class="details">Documento/CUIL/CUIT</span>
                                    <input  type="text" placeholder="Sin guiones"  name="doc">
                                </div>
                                <div  class="input-box">
                                    <span class="details">Teléfono</span>
                                    <input   type="text" placeholder=""  name="telefono">
                                </div>
                                <div class="input-box">
                                    <span class="details">Mail</span>
                                    <input  type="text" placeholder=""  name="mail">
                                </div>
                                
                                <div class="input-box">
                                    <select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" name="tipo">

                                      <option th:each="tipo:${tipo}" th:text="${tipo}"th:value="${tipo}"></option>
                                        
                                    </select>
                                </div>
                                                                
                            </div>
                            <div class="button">
                                
                                <input type="submit" value="Registrar">
                            </div>
                        </form>
                    </div>
                </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>

