<!DOCTYPE html>
<html
    lang="en"
    dir="ltr"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    >
    <head>
        <title>Sysmas</title>
        <meta charset="UTF-8" />
        <link href="Css/dashboardEstilo.css" rel="stylesheet" />
        <link
            href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
            rel="stylesheet"
            />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
            />
    </head>

    <body>
        <div class="sidebar">
            <div class="logo-details">
                <i class="bx bxs-message-square-add"></i>
                <span class="logo_name">SysMas</span>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/index">
                        <i class="bx bx-grid-alt"></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/producto">
                        <i class="bx bx-box"></i>
                        <span class="links_name">Productos</span>
                    </a>
                </li>
                <li>
                    <a href="/venta" class="active">
                        <i class="bx bx-list-ul"></i>
                        <span class="links_name">Ventas</span>
                    </a>
                </li>
                <li>
                    <a href="/caja">
                        <i class="bx bx-wallet-alt"></i>
                        <span class="links_name">Caja</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/estadisticas">
                        <i class="bx bx-pie-chart-alt-2"></i>
                        <span class="links_name">Estadísticas</span>
                    </a>
                </li>
                <li>
                    <a href="/stock">
                        <i class="bx bx-coin-stack"></i>
                        <span class="links_name">Stock</span>
                    </a>
                </li>
                <li>
                    <a href="/pedidos">
                        <i class="bx bx-book-alt"></i>
                        <span class="links_name">Pedidos</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/usuario">
                        <i class="bx bx-user"></i>
                        <span class="links_name">Usuarios </span>
                    </a>
                </li>
                <li>
                    <a href="/proveedor">
                        <i class="bx bx-message"></i>
                        <span class="links_name">Proveedores</span>
                    </a>
                </li>
                <li>
                    <a href="/cliente">
                        <i class="bx bx-heart"></i>
                        <span class="links_name">Clientes</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/ajustes">
                        <i class="bx bx-cog"></i>
                        <span class="links_name">Ajustes</span>
                    </a>
                </li>
                <li class="log_out">
                    <a href="/logout">
                        <i class="bx bx-log-out"></i>
                        <span class="links_name">Salir</span>
                    </a>
                </li>
            </ul>
        </div>
        <section class="home-section">
            <nav>
                <div class="sidebar-button">
                    <i class="bx bx-menu sidebarBtn"></i>
                    <span class="dashboard">Ventas</span>
                </div>
                <div class="profile-details">
                    <img
                        class="bd-placeholder-img card-img-top"
                        th:src="${'/foto/usuario?id=' + session.usuariosession.id}"
                        style="width: auto; height: 60px"
                        />
                    <a href="/editarUsario">
                        <span
                            class="admin_name"
                            th:if="${session.usuariosession != null}"
                            th:text="${session.usuariosession.nombre + ' ' +session.usuariosession.apellido}"
                            ></span>
                    </a>
                </div>
            </nav>

            <div class="home-content">
                <div class="overview-boxes">
                    <div class="box">
                        <div class="right-side">
                            <div class="btn-group">
                                <button
                                    type="button"
                                    class="btn btn-danger dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-expanded="false"
                                    >
                                    Nueva venta
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/verClientes"
                                       >Cliente registrado</a
                                    >
                                    <a class="dropdown-item" href="/registroCliente "
                                       >Nuevo cliente</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="right-side">
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <a class="dropdown-item" href="/todasVentas">
                                    <button type="button" class="btn btn-success">
                                        Historial de Ventas
                                    </button></a
                                >
                                <div class="dropdown-menu"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="right-side">
                            <div class="box-topic">Ventas de Hoy</div>
                            <h4>$<span th:text="${total}"></span></h4>
                        </div>
                    </div>
                    <div class="box">
                        <div class="right-side">
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <button
                                    type="button"
                                    class="btn btn-danger dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-expanded="false"
                                    >
                                    Estado de ventas
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Pagadas</a>
                                    <a class="dropdown-item" href="#">Pendientes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sales-boxes">
                    <div class="recent-sales box" style="width: 50%">
                        <div class="title">Últimas Ventas</div>
                        <div class="sales-details">
                            <table class="table table-striped" id="tabla">
                                <thead>
                                    <tr>
                                        <th scope="col">Venta</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tr th:each="venta : ${ventas}">
                                    <td th:text="${venta.id}"></td>
                                    <td th:text="${venta.total}"></td>
                                    <td th:text="${venta.estado}"></td>
                                    <td th:text="${venta.cliente.nombre}"></td>

                                    <td>
                                        <a th:href="${'/verVenta?id='+venta.id}"> Ver detalle </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="button">
                            <a href="/todasVentas">Ver todas</a>
                        </div>
                    </div>
                    <div class="top-sales box" style="width: 50%">
                        <div class="title">Pedidos Ecommerce</div>
                        <ul class="top-sales-details">
                            <table class="table table-striped" id="tabla" style="">
                                <thead>
                                    <tr>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Número</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tr th:each="pedido : ${pedidos}">
                                    <td th:text="${pedido.cliente.nombre}"></td>
                                    <td th:text="${pedido.cliente.tipo}"></td>
                                    <td th:text="${pedido.cliente.telefono}"></td>
                                    <td th:text="${pedido.estado}"></td>
                                    <td th:text="${pedido.fecha}"></td>
                                    <td>
                                        <a th:href="${'/ventaApi?id='+pedido.id}"> Abrir</a> -
                                        <a th:href="${'/eliminarPedidoApi?id='+pedido.id}" style="color: red"> Eliminar</a> - 
                                        <a th:href="${'/imprimirPedidoApi?id='+pedido.id}"> Imprimir </a>
                                    </td>
                                </tr>
                            </table>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <script>
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".sidebarBtn");
            sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            };
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
